:root{
    --font-size: 40px; 
    --green-color:#465957; 
    --darkgreen-color: #3a4848; 
    --tan-color: #d9a576;
    --grey-color: #798c8a;
    --offwhite-color: #dbd4d2;
}

* {
    /*border: 4px solid red; */
}

body {
    padding:0; 
    margin: 0; 
    border: 0; 
}

.container{
    display: flex; 
    height: 100%;
    width: 100%;  
}

.banner-parent{
    position: relative;
    top: 0; 
    left: 0;
}

.odin{
    display: block;
    height: 100px; 
    width: auto; 
}

.bg{
    height: 100%;
    position: relative; 
    top: 0; 
    left: 0;  
    /*opacity: 50%; */
}

.banner{
    width: 100%; 
    height: 300px; 
    opacity: 50%;
    background-color: black;
    position: absolute; 
    top: 5%; 
    left: 0px; 
    font-size: 3rem;
    color: white; 
    font-family: 'Norse Bold';
    text-align: center;
    border:2px solid black; 
    padding: 0; 
    margin: 0; 
}

.form{
    font-size: 50px; 
    color: black;
    left: 500px; 
    top: 25%; 
    /*border: 2px solid red; */
    background-color: var(--green-color);
    width: 100%; 
    /*padding: 50px; */
    
}

.intro-text{
    width: 1000px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-size); 
    font-weight: bold;
    padding: 50px 50px;
    width: 1000px; 
    color: var(--offwhite-color); 
}


fieldset{
    border: 0 none; 
}

#sign-up{
    outline: none; 
    box-shadow: 0 10px 10px 0 black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--green-color);
    
    background-color: var(--grey-color);
    width: 100%;
    padding: 10px 50px 50px 50px; 
    flex-flow: row wrap; 
}

.lets{
    font-size: var(--font-size);
    color: var(--offwhite-color);
    font-weight: bold; 
}

#sign-up>input{ 
    border-radius: 5px;
    width: 500px; 
    border: 1px solid rgb(42, 40, 40); 
}

#sign-up>label{
    width: 175px; 
}

#sign-up>input:hover{
    box-shadow: 0px 0px 2px 0px black; 
    border: 1px solid rgb(44, 136, 222); 
}

input, label{
    flex-flow: row wrap;
}

.create{
    background-color: var(--grey-color);
    color: white; 
    padding: 20px; 
    margin-left: 50px;
    border-radius: 10px;
    font-weight: bold;
    border: 0px; 
    box-shadow: 0 10px 10px 0 black;
}

.login{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px; 
    font-weight: bold;
    color: var(--offwhite-color); 
    padding: 0 50px; 
}

.link{
    color: var(--tan-color); 
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}