:root{
    --font-size: 40px; 
    --green-color:#465957; 
    --darkgreen-color: #3a4848; 
    --tan-color: #d9a576;
    --grey-color: #798c8a;
    --offwhite-color: #dbd4d2;
    --blue-border-color: rgb(44, 136, 222); 
    --font-stack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    /*border: 4px solid red; */
}

body {
    padding:0; 
    margin: 0; 
    border: 0; 
}

.container{
    display: flex; 
    height: 100%;
    width: 100%;  
}

@media only screen and (max-width: 1000px) {
    .banner-parent, .odin, .bg, .banner {
      display: none;
    }
}

.banner-parent{
    position: relative;
    top: 0; 
    left: 0;
}

.odin{
    display: block;
    height: 100px; 
    width: auto; 
    
}

.bg{
    height: 100%;
    position: relative; 
    top: 0; 
    left: 0;  
    /*opacity: 50%; */
}

.banner{
    width: 100%; 
    height: 200px; 
    opacity: 50%;
    background-color: black;
    position: absolute; 
    top: 5%; 
    left: 0px; 
    font-size: 3rem;
    color: white; 
    font-family: var(--font-stack);
    text-align: center;
    border:2.5px solid black; 
    padding: 0; 
    margin: 0; 
}

.form{
    height: 1150px;
    font-size: 50px; 
    color: black;
    top: 25%; 
    background-color: var(--green-color);
    width: 1000px; 
    margin: 0; 
    flex:1 0 auto; 
}

.intro-text{
    font-family:var(--font-stack);
    font-size: var(--font-size); 
    font-weight: bold;
    padding: 50px 50px;
    color: var(--offwhite-color); 
}


fieldset{
    border: 0 none; 
}

#sign-up{
    outline: none; 
    box-shadow: 0 10px 10px 0 black;
    font-family: var(--font-stack);
    font-size: 25px;
    color: var(--green-color);
    background-color: var(--grey-color);
    padding: 10px 50px 100px 50px; 
    line-height: 2rem;
}

.lets{
    font-size: var(--font-size);
    color: var(--offwhite-color);
    font-weight: bold; 
}

.group>input{ 
    border-radius: 5px;
    width: 450px; 
    border: 1px solid rgb(42, 40, 40); 
}

.group>label{
    width: 175px; 
}


textarea:focus, input:focus{
    outline: none;
}

.group>input:focus{    
    border: 4px solid var(--blue-border-color); 
    box-shadow: 0 2px 2px 0 var(--darkgreen-color);
}

#password:invalid, #confirm-password:invalid{
    border: 3px solid rgb(175, 15, 15); 
}

.group{
    display:inline-block; 
}

.create{
    background-color: var(--tan-color);
    color: white; 
    padding: 20px; 
    margin-left: 50px;
    border-radius: 10px;
    font-weight: bold;
    border: 0px; 
    box-shadow: 0 10px 10px 0 black;
    font-family: var(--font-stack); 
}

.login{
    font-family: var(--font-stack); 
    font-size: 25px; 
    font-weight: bold;
    color: var(--offwhite-color); 
    padding: 0 50px; 
}

.link{
    color: var(--tan-color); 
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}